@import url('https://fonts.googleapis.com/css?family=Montserrat:400,500,600');
html,
body {
    height: 100%;
}

body {
    font-family: 'Montserrat', sans-serif;
    background: url(../img/bg.jpg) no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    line-height: 1.5;
}

.height-100 {
    height: 100%;
}

.bg-dark-alpha {
    background-color: rgba(0, 0, 0, 0.2);
}

.bg-light-alpha {
    background-color: rgba(255, 255, 255, 0.2);
}

.scroll{
    overflow-y: scroll;
    height: 800px;
    width: 1600px;
    
}

#login .container #login-row #login-col #login-box {
    margin-top: 70px;
    max-width: 1170px;
    height: 370px;
    box-shadow: 2px 2px 2px 2px #343a40;
    border-radius: 5px;
    margin:auto;
}

.userAdd-box {
    margin-top: 50px;
    max-width: 600px;
    height: 300px;
    box-shadow: 2px 2px 2px 2px #343a40;
    border-radius: 5px;
}

.carga-usuario {
    margin-top: 70px;
}

.navbar {
    margin-bottom: 5rem;
}

.dropdown-menu {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
}

.dropdawn-item {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
    font-size: small;
}

/*------------------------footer-------------------------*/

footer{
    background: #343a40;
    height: 21vh;
    font-family: 'Montserrat', sans-serif;
    font-size: 0.5rem;
    color: #fff;
    margin: 200px 0 0 0;
}

.container-items{
    display: flex;
    justify-content: space-around;
    
}

.footer-item{
    display: flex;
    flex-direction: column;
    margin: 20px 0 0 0;
}

footer h3{
    font-size: 1rem;
}

.container-footer a{
    font-size: 0.5rem;
    text-decoration: none;
    color: #fff;
    padding: 5px;
}

.footer-item i{

}